<h1>{{ asset.name }}</h1>
<p>
  <strong>Tunnel input type:</strong>
  {% if asset.tunnel_input_type == 'manual' %}
    Manual
  {% else %}
    Percentage
  {% endif %}
</p>
<p>
  <strong>Upper tunnel:</strong> {{ asset.upper_tunnel }}
  {% if asset.tunnel_input_type == 'manual' %}
    (exact price)
  {% else %}
    (% above first extracted price)
  {% endif %}
</p>
<p>
  <strong>Lower tunnel:</strong> {{ asset.lower_tunnel }}
  {% if asset.tunnel_input_type == 'manual' %}
    (exact price)
  {% else %}
    (% below first extracted price)
  {% endif %}
</p>
<p>
<strong>First extracted price:</strong> {{ first_price }}
</p>
<p>
<strong>Last extracted price:</strong> {{ last_price }}
</p>
<p>
  <strong>Tracking frequency:</strong> {{ asset.tracking_frequency }} minutes
</p>
<p>
  <strong>Notify only once:</strong> {{ asset.notify_only_once|yesno:"Yes,No" }}
</p>
<p>
  <strong>Email:</strong> {{ asset.email }}
</p>

<h2>Price History</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Price</th>
  </tr>
  {% for price in prices %}
    <tr>
      <td>{{ price.scraped_at }}</td>
      <td>{{ price.price }}</td>
    </tr>
  {% endfor %}
</table>

<a href="{% url 'asset_list' %}">🏠 Home</a>